@import 'src/assets/scss/_colors.scss';

.app-text-area {
  min-height: 88px !important;
  font-size: 1rem;

  &::placeholder {
    font-size: 1rem;
    color: $neutral4;
  }

  &:focus {
    border-color: $primary;
    box-shadow: none;
  }
}