.app-text {
  margin: 0px 0px;
}

// ======= sizes =======
.text-sm {
  font-size: 0.875rem; // 14px
}

.text-md {
  font-size: 1rem; // 16px
}

.text-lg {
  font-size: 1.125rem; // 18px
}

.text-xl {
  font-size: 1.25rem; // 20px
}

// ======= colors =======
.neutral-1 {
  color: #0A0B0C
}

.neutral-2 {
  color: #6F7688
}