$color_primary: #00948b;
$color_gray: #878787;
$color_error: #f35b37;
$color_neutral_gray: #adadad;
$breakpoint_mobile_max: 576px;

[data-theme='light'],
[data-theme='light'] body {
  --color_background_element_common: #fff;
  --color_background: #f4f4f4;
  --color_border_common: #d1d1d1;
  --color_border_bottom: #f7f7f7;
  --color_text_desc: #878787;
  --color_text: #333333;
  --color-cost-label: #A7ACBC;
  --color-available: #888888;
  --background-color: #ffffff;
  --light-mode-primary: #4827FE;
  --color-primary-1: #4827FE;
  --color-text-pagination: #00ddb3;
  --color-background-pagination: #ffffff;
  --color-outline-pagination: #00ddb3;
  --color-label-5: #888888;
  --color-date-range-day: #333333;
  --color-text-footer: #888888;
  --color-background-footer: #191919;
  --color-error: #e02d3c;
  --color-last-price: #000000;
  --color-bg-btn-3: #00ddb3;
  --color-bg-btn-2: #c1fff3;
  --background-table-header: #f8f8f8;
  --color-label-6: #333333;
  --color-label-4: #888888;
  --color-label-2: #888888;
  --color-value-3: #333333;
  --color-bg-btn-1: #dedede;
  --background-color-modal: #ffffff;
  --background-table-header: #f8f8f8;
  --color-label-3: #888888;
  --color-background-order-wrapper: #ffffff;
  --color-background-content: #ffffff;
  --background-color: #ffffff;
  --btn-hover-blur: rgba(62, 123, 250, 0.3);
  --btn-hover: #3568d4;
  --text-input-email: #28293d;
  --border-input: #e4e4eb;
  --text-input: #28293d;
  --bg-err-noti: #f8e7e8;
  --bg-success-noti: #e3f2ec;
  // chart tab
  --color-label: rgba(143, 144, 166, 1);
  --text-detail: rgba(85, 87, 112, 1);
  // navbar
  --name-pj: #2f2f3a;
  --navbar-item: rgba(85, 87, 112, 1);
  //orderboook
  --text-orderbook: #555770;
  --border-market: rgba(62, 123, 250, 0.3);
  --text-type-item: rgba(143, 144, 166, 1);
  --text-field-label: rgba(85, 87, 112, 1);
  --text-leverage: rgba(40, 41, 61, 1);
  --text-info: rgb(85, 87, 112);
  --text-input: rgba(40, 41, 61, 1);
  --bg-negative-value: #f8eaec;
  --border-negative-value: rgba(229, 53, 53, 0.5);
  --bg-positive-value: #e3f2ec;
  --border-positive-value: rgba(228, 228, 235, 0.5);
  //Pagination
  --border-pagination: #dfe3e8;
  --border-color-pagination: #dedede;
  // table
  --table-bg: #fff;
  --table-bg-hover: #f9f9fa;
  //order account
  --text-no-record: #8f90a6;
  //button
  --btn-overlay-bg-disable: #e4e4eb;
  --bg-wallet-detail: #ffffff;
  --bg-search-market: #f2f2f5;
  --title-choose-wallet: #28293d;
  --bg-choose-wallet: #ffffff;
  --bg-btn-cancel-order: #f7e2e3;
  --border-cancel-order: #c7c9d9;
  --bg-tooltip: #191919cc;
  --text-tooltip: #ffffff;
  --bg-order-detail: #ffffff;
  // calculator
  --text-tab-inactive: #888888;
  --text-tab-active: #333333;
  --bg-overview-4: #fbfbfb;
  --text-title-input: #888888;
  //order
  --bg-order: #fff;
  --bg-order-input: #f8f8f8;
  --bg-button: #dedede;
  --color-text: #333333;
  --color-type-item: #dedede;
  --color-order-label: #888888;
  --color-order-label-active: #333333;
  --checkmark: #dedede;
  // stopModal
  --bg-modal: #ffffff;
  --bg-modal-item: #888888;
  --modal-item-active: #00ddb3;
  --color-dialog-background: #ffffff;
  --color-dialog-title: #2d303b;
  --color-transfer-box: #f8f8f8;
  --color-text-transfer: #888888;
  --color-text-label: #000000;
  --color-background-input-group: #f8f8f8;
  --color-input-group: #000000;
  --color-max-btn: #00ddb3;
  --color-background-button-confirm: #c1fff3;
  --color-button-confirm-disabled: #888888;
  --color-coin-price: #2d303b;
  --color-text-desc: #888888;
  --color-search-value: #f8f8f8;
  --color-coin-select: #424754;
  --color-coin-label: #6d7387;
  --color-select-list: #ffffff;
  --color-background-select-search: #f8f8f8;
  --color-input-select-search: #000000;
  --color-coin-value: #333333;
  --bg-navbar: #ffffff;
  --bg-modal-pre: #ffffff;
  --border-pre: #f8f8f8;
  --text-tab: #888888;
  --text-pre-content: #333333;
  --switch-color: #ffffff;
  --switch-bg: #dedede;
  --switch-disable: #dedede;
  --switch-enable: #00ddb3;
  --bg-tab-general: #f1fffc;
  --text-general-active: #333333;
  --text-select: #000000;
  --bg-select: #ffffff;
  --bg-select-search: #f8f8f8;
  --text-item-search: #333333;
  --text-item-select-header: #191919;
  --bg-hover-item-select-header: #f1fffc;
  --text-place-holder-search: #dedede;
  --bg-filter-order-book: #f1fffc;
  //calculator
  --bg-select-cal: #f8f8f8;
  --border-line-cal: #dedede;
  --text-leverange: #888888;
  --bg-btn-cal-disable: #c1fff3;
  --text-btn-disable: #888888;
  --bg-input-open-price: rgba(222, 222, 222, 0.3);
  // date picker
  --color-text-middle: #888888;
  --color-date: #f8f8f8;
  --color-place-holder: #6d7387;
  --color-date-label: #888888;
  --color-date-modal: #ffffff;
  --color-date-value: #333333;
  --color-date-range: #f1fffc;
  --color-week-day-label: #888888;
  --color-not-selected-date: #424754;
  --color-date-icon: #424754;
  --color-disable-date: #dedede;
  // table position
  --table-bg: #fff;
  --table-bg-hover: #f9f9fa;
  --color-value-1: #333333;
  --text-leverage: #dedede;
  --color-input-position: #dedede;
  --color-input-modal: #f8f8f8;
  --color-tab: #dedede;
  --color-background-modal: #ffffff;
  --color-modal-desc: #888888;
  --color-background-select: #f8f8f8;
  --color-order-box: #f8f8f8;
  --color-input-stop-price: #ffffff;
  --color-table-header: #ffffff;
  --color-dialog-bg: #ffffff;
  --color-tab-item: #333333;
  --color-tab-items-active: #f1fffc;
  --color-tab-border-right: #f8f8f8;
  --color-select-value: #f8f8f8;
  --color-select-list: #ffffff;
  --color-background-select-search: #f8f8f8;
  --color-select-search-placeholder: #dedede;
  --color-no-data-desc: #dedede;
  --bg-cal-range: #f8f8f8;
  --bg-btn-disable-margin-mode: #c1fff3;
  --bg-btn-menu: #ffffff;
  --text-terminated: #333333;
  --border-nav: #f8f8f8;
  --border-pair: #f8f8f8;
  --border-pair-2: #f8f8f8;
  --text-tab-inactive-2: #888888;
  --bg-switch: #dedede;
  --bg-switch-btn: #ffffff;
  --bg-input-notification: #f8f8f8;
  --bg-switch-enable: #ffffff;
  --bg-btn-time: #dedede4d;
  --color-btn-cal: #333333;
  --color-tooltip: rgba(51, 51, 51, 0.8);
  --color-divider: #f8f8f8;
  --color-title-dialog: #191919;
  --color-bg-bid: #e5f7f1;
  --color-bg-ask: #fceaeb;
  --color-label-6: #333333;
  --bg-tooltip-1: rgba(25, 25, 25, 0.8);
  --bg-date-picker: #f8f8f8;
  --bg-time-webview: #f2f2f2;
  --color-text-webview: #000000;
  --bg-select-list: #ffffff;
  --bg-line: #e3e3e3;
  // Future Orders
  --bg-order-title: #1b1d24;
  --bg-scroll-thumb: #888888;
  --bg-scroll-track: #dedede;
  --bg-scroll-thumb-calulator: #e4e4eb;
  --border-calculator: #dedede;
  --color-scrollbar: #888888;
  --color-scrollbar-thumb: #dedede;
  --color-scrollbar-track: #f8f8f8;
  --color-tab-active: #333333;
  --color-tab-inactive: #888888;
}

[data-theme='dark'],
[data-theme='dark'] body {
  --color_background_element_common: #1a1d1f;
  --color_background: #111215;
  --color_border_common: #424850;
  --color_text: #dfe1e3;
  --color_border_bottom: #111215;
  --color_text_desc: #6f767e;
  --color_text: #fff;
  --color-available: #6d7387;
  --color-cost-label: #A7ACBC;

  --bg-line: #424754;
  --bg-select-list: #1b1d24;
  --color-text-webview: #ffffff;
  --bg-time-webview: #1c1f24;
  --bg-date-picker: #2d303b;
  --bg-tooltip-1: rgba(45, 48, 59, 0.9);
  --color-label-6: #424754;
  --color-title-dialog: #ffffff;
  --color-text-pagination: #00ddb3;
  --color-background-pagination: #2d303b;
  --color-outline-pagination: #00ddb3;
  --color-label-5: #6d7387;
  --color-date-range-day: #ffffff;
  --color-text-footer: #6d7387;
  --color-background-footer: #121318;
  --color-btn-cal: #333333;
  --bg-switch: #1b1d24;
  --bg-switch-btn: #424754;
  --bg-input-notification: #424754;
  --bg-switch-enable: #002e26;
  --text-tab-inactive-2: #ffffff;
  --color-last-price: #ffffff;
  --color-bg-btn-3: #00ddb3;
  --color-bg-btn-2: #44665f;
  --background-table-header: #1b1d24;
  --color-label-3: #6d7387;
  --color-background-order-wrapper: #090a0c;
  --color-label-6: #ffffff;
  --color-label-4: #6d7387;
  --color-label-2: #ffffff;
  --color-value-3: #333333;
  --color-bg-btn-1: #424754;
  --background-color-modal: #2d303b;
  --background-table-header: #1b1d24;
  --color-label-3: #6d7387;
  --color-background-order-wrapper: #090a0c;
  --bg-cal-range: #1b1d24;
  --bg-btn-disable-margin-mode: #00ddb3;
  --bg-btn-menu: #121318;
  --text-terminated: #6d7387;
  --border-nav: #000000;
  --border-pair: #121318;
  --border-pair-2: #121318;
  --color-background-content: #090a0c;
  //order
  --bg-order: #1b1d24;
  --bg-order-input: #2d303b;
  --bg-button: #424754;
  --color-text: #ffffff;
  --color-type-item: #424754;
  --color-order-label: #6d7387;
  --color-order-label-active: #6d7387;
  --checkmark: #424754;
  // stopModal
  --bg-modal: #2d303b;
  --bg-modal-item: #6d7387;
  --modal-item-active: #00ddb3;
  --bg-btn-cancel-order: #3a202a;
  --bg-order-detail: #212130;
  --bg-tooltip: #212130;
  --text-tooltip: rgba(164, 164, 169, 1);
  --border-cancel-order: #3a202a;
  --title-choose-wallet: rgba(255, 255, 255, 0.87);
  --bg-choose-wallet: #222333;
  --bg-search-market: #28293d;
  --bg-wallet-detail: #222333;
  --btn-hover-blur: #273967;
  --btn-hover: #3568d4;
  --text-input-email: #a4a4a9;
  //order account
  --text-no-record: rgba(255, 255, 255, 0.6);
  //common
  --text-body-color: #1a1919;
  --text-title-color: #ffffff;
  --text-body-color: #848e9c;
  // navbar
  --name-pj: #ffffff;
  --nav-bar-bg: #12161c;
  --text-input: rgba(255, 255, 255, 0.6);
  --navbar-item: rgba(255, 255, 255, 0.6);
  //orderboook
  --text-orderbook: #e2e2e3;
  --border-market: rgba(62, 123, 250, 0.3);
  --text-type-item: rgba(255, 255, 255, 0.38);
  --text-field-label: rgba(255, 255, 255, 0.38);
  --text-leverage: rgba(255, 255, 255, 0.6);
  --text-info: rgba(255, 255, 255, 0.6);
  --text-input: rgba(255, 255, 255, 0.6);
  --bg-positive-value: #193130;
  --bg-negative-value: #2c1e29;
  --border-negative-value: #3f202a;
  --border-positive-value: rgba(228, 228, 235, 0.5);
  //Pagination
  --border-pagination: #28293d;
  --border-input: rgba(255, 255, 255, 0.05);
  --border-color-pagination: #424754;
  // chart tab
  --color-label: rgba(255, 255, 255, 0.6);
  --text-detail: rgba(255, 255, 255, 0.6);
  // color
  --bg-err-noti: #3a202a;
  --bg-success-noti: #193130;
  --color-white: #fff;
  --color-primary: #3e7bfa;
  --color-primary-darker: #3a449c;
  --color-primary-lighter: #b4e5f9;
  --color-title-active: #fff;
  --color-body: #848e9c;
  --color-placeholder: #828282;
  --color-line: #333;
  --color-input-bg: #2a2c33;
  --color-bg: #232424;
  --color-disabled: #333;
  --color-secondary: #8553d1;
  --color-error: #e02d3c;
  --color-bg-btn-error: rgba(229, 53, 53, 0.15);
  --color-bg-btn-error-disable: #8b8b8b;
  --color-success: #06c270;
  --color-bg-btn-success: rgba(5, 166, 96, 0.15);
  --color-bg-btn-success-disable: #8b8b8b;
  --color-warning: #ffcc00;
  --color-primary-gradient: linear-gradient(105.99deg, #da1a5d -4.53%, rgba(249, 187, 207, 0) 153.37%);
  --color-secondary-gradient: linear-gradient(106.92deg, #da1a5d -12.65%, rgba(158, 118, 252, 0) 167.6%);
  --color-border: #494a4a;
  --color-bg-table: #232525;
  --color-bg-active-route: rgba(62, 123, 250, 0.15);
  // orderbook
  --color-row-odd: rgba(65, 64, 64, 0.03);
  --color-bg-option-ob: rgba(255, 255, 255, 0.1);
  --color-bg-ask: #3a202a;
  --color-bg-bid: #193130;
  --color-bg-ask-mb: rgba(229, 53, 53, 0.35);
  --color-bg-bid-mb: rgba(5, 166, 96, 0.35);
  --color-scrollbar-ob: #32323d;
  --color-scrollbar-track-ob: #1c1c28;
  --color-bg-lastprice-increase: rgba(5, 166, 96, 0.15);
  --color-bg-lastprice-decrease: rgba(229, 53, 53, 0.15);
  // connect wallet
  --color-dialog-bg: #ffffff;
  --color-dialog-title: #ffffff;
  --color-dialog-label: #848e9c;
  --color-dialog-btn-bg: #333333;
  --color-connect-wallet-select-bg: #333333;
  --color-connect-wallet-select-bg-hover: #2b6486;
  --color-connect-wallet-select-body: #ffffff;
  --color-connect-wallet-input-bg: #333333;
  --color-connect-wallet-input-border: #333333;
  --color-connected-wallet-bg: #3d4045;
  // Select2
  --color-select-body: #333333;
  --color-select-option-bg-hover: #828282;
  --border-select: #3d4045;
  // button
  --btn-text-disabled: #4f4f4f;
  --btn-border-secondary-disabled: #333;
  --btn-overlay-bg-disable: black;
  // slippage tolerance
  --color-slippage-btn: #3d4045;
  --color-slippage-input: #ffffff;
  --background-color: #1c1c28;
  --block-background: #2a2c33;
  --nav-bar-bg: #12161c;
  --text-color: #ffffff;
  --title-active: #ffffff;
  --primary-button-bg: #1a88c9;
  --label: #3d4045;
  --body-text: #848e9c;
  --placeholder: #828282;
  --line: #333333;
  --data-table: #ffffff;
  --popup-background: #2a2c33;
  --tab-text-color: #848e9c;
  --tab-text-color-transaction: #ffffff;
  --input-background: #1c1c28;
  --border-input-background: #333333;
  --popup-input-placeholder: #828282;
  --popup-input-color: #828282;
  --active-tab: #ffffff;
  --background-dropdown: #2a2c33;
  --detail-button-mytransaction: #3d4045;
  --trade-button-mytransaction: #3d4045;
  --trade-button-active-mytransaction: #747474;
  --under-line: #848e9c;
  // input
  --pair-block-background: #333333;
  // trading-view-chart
  --trading-view-btn-background-dark: #828282;
  --filter-input-background: #3d4045;
  --filter-input-border: #333333;
  // sidebar
  --bg-sidebar: #2a2c33;
  --bg-sidebar-2: #1c1c28;
  --bd-sidebar: 1px solid rgba(255, 255, 255, 0.1);
  --color-table-divider: #8282824c;
  --table-color: #2a2c33;
  --color-order-input-bg: #3d4045;
  --bg-active-item: rgba(62, 123, 250, 0.15);
  --active-route: #3d4045;
  --color-route: #848e9c;
  --text-color-sidebar: #ffffff;
  --text-active-sidebar: #3e7bfa;
  //overview
  --bg-overview-1: #212130;
  --bg-overview-2: rgb(255, 255, 255, 0.1);
  --bg-overview-3: #1c1c28;
  --text-over-1: rgb(255, 255, 255, 0.6);
  --text-over-2: rgb(255, 255, 255, 0.87);
  // line graph
  --background-line-graph: #242628;
  --divider-line-graph: #333333;
  --label-line-graph: #ffffff;
  --line-graph-color-1: #f4a164;
  --line-graph-color-2: #8b85e2;
  // spline graph
  --background-spline-graph: #27292d;
  // date range picker
  --background-date-range-picker: #28272a;
  --range-on-select: #2a2c33;
  --color-on-select: #f8f7fa;
  --color-date-range-picker: #c9c8cc;
  --color-month-name: #f8f7fa;
  --border-date-range-picker: #2e2d30;
  --passive-date: #68676a;
  --color-cancel-btn: #c9c8cc;
  // radio create new pool
  --bg-radio: #3d4045;
  --bg-checked-radio: #f7f7fc;
  --border-radio: var(--color-primary);
  // matrix price
  --bg-matrix-price: #3d4045;
  // weight change popup
  --border-weight-change-popup: #3f4040;
  // date picker
  --color-date-picker: #fff;
  // tooltip
  --tooltip-shadow: 0px 4px 4px rgba(255, 255, 255, 0.05);
  --tooltip-border: 1px solid #333333;
  --color-tooltip-bg: #3d4045;
  --color-tooltip-title: #e0e0e0;
  --color-tooltip-body: #848e9c;
  // scroll background
  --bg-scroll-ff: #2a2c33;
  // checkbox image
  --checkbox-image-color: #3d4045;
  // pop up buttons
  --pop-up-button--1: #ffff;
  // Datagrid
  --datagrid-color: rgba(0, 0, 0, 0.85);
  --datagrid-backgroundColor: #2a2c33;
  --datagrid-borderBottom: #333333;
  --datagrid-cell: rgba(255, 255, 255, 0.65);
  --datagrid-cellColor: #ffffff;
  --datagrid-overlayColor: rgba(255, 255, 255, 0.85);
  //table
  --table-bg: #212130;
  --table-bg-hover: #2c2c3a;
  --bg-overview-4: #1b1d24;
  --color-dialog-background: #2d303b;
  --color-dialog-title: #ffffff;
  --color-transfer-box: #424754;
  --color-text-transfer: #6d7387;
  --color-text-label: #ffffff;
  --color-background-input-group: #424754;
  --color-input-group: #ffffff;
  --color-max-btn: #00ddb3;
  --color-background-button-confirm: #44665f;
  --color-button-confirm-disabled: #2d303b;
  --color-coin-price: #ffffff;
  --color-text-desc: #6d7387;
  --color-search-value: #424754;
  --color-coin-select: #ffffff;
  --color-coin-label: #6d7387;
  --color-select-list: #1b1d24;
  --color-background-select-search: #2d303b;
  --color-input-select-search: #ffffff;
  --color-coin-value: #ffffff;
  --bg-navbar: #121318;
  --bg-modal-pre: #2d303b;
  --border-pre: #1b1d24;
  --text-tab: #6d7387;
  --text-tab-active: #ffffff;
  --text-pre-content: #333333;
  --switch-color: #090a0c;
  --switch-bg: #424754;
  --switch-disable: #424754;
  --switch-enable: #00ddb3;
  --bg-tab-general: #002e26;
  --text-general-active: #00ddb3;
  --text-select: #ffffff;
  --bg-select: #1b1d24;
  --bg-select-search: #2d303b;
  --text-item-search: #6d7387;
  --text-item-select-header: #ffffff;
  --bg-hover-item-select-header: #0f312f;
  --text-place-holder-search: #424754;
  --bg-filter-order-book: #002e26;
  //calculator
  --bg-select-cal: #424754;
  --border-line-cal: #1b1d24;
  --text-leverange: #6d7387;
  --text-title-input: #ffffff;
  --bg-btn-cal-disable: #44665f;
  --text-btn-disable: #2d303b;
  --bg-input-open-price: #424754;
  // date picker
  --color-text-middle: #6d7387;
  --color-date: #2d303b;
  --color-place-holder: #888888;
  --color-date-label: #6d7387;
  --color-date-modal: #2d303b;
  --color-date-value: #ffffff;
  --color-date-range: #424754;
  --color-week-day-label: #6d7387;
  --color-not-selected-date: #dedede;
  --color-date-icon: #ffffff;
  --color-disable-date: #424754;
  // table position
  --color-value-1: #ffffff;
  --text-leverage: #424754;
  --color-input-position: #424754;
  --color-input-modal: #424754;
  --color-tab: #424754;
  --color-background-modal: #2d303b;
  --color-modal-desc: #6d7387;
  --color-background-select: #424754;
  --color-order-box: #1b1d24;
  --color-input-stop-price: #090a0c;
  --color-table-header: #1b1d24;
  --color-tab-item: #ffffff;
  --color-tab-items-active: #002e26;
  --color-tab-border-right: #000000;
  --color-select-value: #1b1d24;
  --color-select-list: #2d303b;
  --text-tab-inactive: #6d7387;
  --color-background-select-search: #424754;
  --color-select-search-placeholder: #6d7387;
  --color-no-data-desc: #424754;
  --color-tooltip: #2d303b;
  --color-divider: #424754;
  --bg-btn-time: #2d303b;
  // Future Orders
  --bg-order-title: #1b1d24;
  --bg-scroll-thumb: #6d7387;
  --bg-scroll-track: #2d303b;
  --bg-scroll-thumb-calulator: #1b1d24;
  --bg-scroll-track-calulator: #2d303b;
  --border-calculator: #2d303b;
  --color-scrollbar: #191919;
  --color-scrollbar-thumb: #6d7387;
  --color-scrollbar-track: #2d303b;
  --color-tab-active: #ffffff;
  --color-tab-inactive: #6d7387;
}

@mixin scrollbars() {
  &::-webkit-scrollbar {
    width: 14px;
    background-color: transparent;
  }

  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 14px 14px var(--color_background);
    border: solid 4px transparent;
  }

  &::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 14px 14px var(--color_border_common);
    border: solid 4px transparent;
    border-radius: 14px;
  }
}

#walletconnect-wrapper {
  #walletconnect-qrcode-modal {
    background: unset;

    .walletconnect-modal__base {
      top: 40%;
      max-width: 620px;
      padding: 20px 40px;
      border-radius: 8px;
      box-shadow: unset;
      border: 1px solid var(--color_border_common);
      display: flex;
      flex-direction: row;
      padding-top: 76px;
      background: var(--color_background_element_common);
    }

    .walletconnect-modal__header {
      top: 20px;
      left: 40px;
      width: calc(100% - 80px);

      &>p {
        font-size: 24px;
        font-weight: 700;
        color: var(--color_text);
        margin-left: 10px;
      }

      .walletconnect-modal__close__wrapper {
        right: -20px;
        width: 30px;
        height: 30px;
        background: transparent;

        .walletconnect-modal__close__line1,
        .walletconnect-modal__close__line2 {
          border-color: var(--color_text);
        }
      }
    }

    .walletconnect-modal__mobile__toggle {
      flex-direction: column;
      width: 128px;
      min-height: 388px;
      background: var(--color_border_bottom);
      border-radius: 8px 0 0 8px;
      border-right: 1px solid var(--color_border_common);
      margin: 0;

      &>a {
        width: 100%;
        text-align: left;
        padding: 20px 0 0 20px;
        font-weight: 700;
        font-size: 14px;
        color: $color_primary;

        &:last-child {
          color: var(--color_text_desc);
        }

        &:focus,
        &:hover {
          color: $color_primary;
        }
      }

      &_selector {
        display: none;
      }
    }

    .right__selected {
      &>a {
        color: $color_neutral_gray;

        &:last-child {
          color: $color_primary;
        }
      }
    }

    div {
      &:nth-child(3) {
        padding-bottom: 20px;
        width: 412px;
        background: var(--color_border_bottom);
        border-radius: 0 8px 8px 0;

        p {
          color: var(--color_text);
          font-size: 16px;
          padding: 0 79px;
          margin-top: 30px;
          text-align: center;
        }

        svg {
          padding: 16px;
          background: var(--color_text_button);
          border-radius: 8px;
          box-shadow: 0px 1px 10px rgba(27, 25, 56, 0.12);
        }

        .walletconnect-search__input {
          margin: 0 30px;
          width: calc(100% - 60px);
          background: var(--color_text_button);
          color: $color_gray;
          border: 1px solid var(--color_border_common);
        }

        .walletconnect-connect__buttons__wrapper__wrap {
          margin-top: 20px;
        }

        .walletconnect-modal__footer {
          margin-top: 15px;

          a {
            font-size: 12px;
            color: $color_gray;
            margin: 0 6px !important;
          }
        }
      }
    }

    .walletconnect-qrcode__image {
      width: 212px;
      height: 212px;
    }
  }
}

@media (max-width: $breakpoint_mobile_max) {
  .wallet-modal-wrap {
    .ant-modal-content {
      margin: 0 8px;
    }

    .ant-modal-body {
      padding: 16px;
    }

    .wallet-modal {
      &__title {
        margin-left: unset;
      }

      &__wrap {
        flex-direction: column;
        margin: 12px 0 20px;

        .wallet-modal-btn {
          width: 100%;

          &:first-child {
            margin-bottom: 16px;
          }
        }
      }

      &__learn-more {
        margin-left: 0px;
      }
    }
  }

  #walletconnect-wrapper {
    #walletconnect-qrcode-modal {
      background: unset;
      padding: 16px;

      .walletconnect-modal__base {
        padding: 64px 16px 16px 16px;
        flex-direction: column;
      }

      .walletconnect-modal__header {
        top: 16px;
        left: 16px;
        width: calc(100% - 48px);
      }

      .walletconnect-modal__mobile__toggle {
        flex-direction: row-reverse;
        justify-content: flex-end;
        width: 100%;
        min-height: unset;
        border-radius: 8px 8px 0 0;
        border-bottom: 1px solid var(--color_border_common);
        border-right: unset;

        &>a {
          width: fit-content;
          padding: 16px 20px;
          border-bottom: 3px solid $color_primary;

          &:last-child {
            border-bottom: unset;
          }
        }
      }

      .right__selected {
        &>a {
          border-bottom: unset;

          &:last-child {
            border-bottom: 3px solid $color_primary;
          }
        }
      }

      div {
        &:nth-child(3) {
          width: 100%;
          border-radius: 0 0 8px 8px;

          p {
            font-size: 16px;
            padding: 0 16px;
          }
        }
      }
    }
  }
}