#app-layout {
  width: 100vw;
  min-height: 100vh;
  background-color: #FFFFFF;

  .ant-layout {
    background-color: transparent;
  }
}

.app-page {
  width: 100%;
  padding: 7vh 5vw;
  background-color: transparent;
}