@import "@/assets/scss/variable.scss";

#app-layout {
  width: 100vw;
  min-height: 100vh;
  background-color: #FFFFFF;

  .ant-layout {
    background-color: transparent;
  }
}

.app-page--content {
  margin-top: $header-height;

  .app-page {
    width: 100%;
    padding: 7vh 5vw;
    // background-color: transparent;
    min-height: calc(100vh - $header-height);
    background: #F6F7FB;

  }
}