@import 'src/assets/scss/_colors.scss';

.icon-title {
  width: 32px;
  height: 32px;
}

.beneficiary-list {
  flex-wrap: nowrap;
  overflow-x: scroll;
  padding-bottom: 8px;
}

.name-with-avt {
  img {
    width: 26px;
    height: 26px;
    border-radius: 50%;
  }
}