@import 'src/assets/scss/_colors.scss';

.icon-title {
  width: 32px;
  height: 32px;
}

.beneficiary-list {
  flex-wrap: nowrap;
  overflow-x: scroll;
  padding-bottom: 8px;
}

.name-with-avt {
  img {
    width: 26px;
    height: 26px;
    border-radius: 50%;
  }
}

.cart-item--container--disclosure {
  box-shadow: none;
  border: 1px solid $neutral5;
  padding: 13px 16px;
  border-radius: 10px;

  .cart-item--children {
    overflow-y: hidden;
    transition: max-height 0.3s ease-in-out;

    &.children--hide {
      max-height: 0;
    }

    &.visible {
      max-height: 1000px;
    }
  }

  .icon-disclosure {
    transition: transform 0.3s ease-in-out;

    &.visible {
      transform: rotate(180deg);
    }
  }

}