@import 'src/assets/scss/_colors.scss';

.icon-title {
  width: 32px;
  height: 32px;
}

.user-icon {
  width: 26px;
  height: 26px;
  border: 1px solid #136AF3;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;

  svg {
    fill: $primary;
  }
}

.beneficiary-list {
  flex-wrap: nowrap;
  overflow-x: scroll;
  padding-bottom: 8px;
}