   .toast-body__top {
     font-family: SG-400;
     font-size: 12px;
     font-style: normal;
     font-weight: 500;
   }

   .toast-body__bottom {
     color: #56607a;
     font-size: 12px;
     line-height: 22px;
   }

   .toast-body a {
     color: #0075ff;
     text-decoration: none;
   }

   .toast-body img {
     margin: 0 13px 0 21px;
   }

   .toast-close-icon {
     cursor: pointer;
   }

   .toast-type-success {
     color: #4ecc79;
     font-size: 14px;
     margin-bottom: 5px;
   }

   .toast-type-error {
     color: #f35b37;
     font-size: 14px;
     margin-bottom: 5px;
   }

   .toast-type-warning {
     color: #ff9b05;
     font-size: 14px;
     margin-bottom: 5px;
   }

   .toast-type-info {
     color: #60b6f7;
     font-size: 14px;
     margin-bottom: 5px;
   }