@import 'src/assets/scss/_colors.scss';

.asset-icon {
  width: 40px;
  height: 40px;
}

.beneficiary-card {
  border-width: 2px !important;
  padding: 10px 16px !important;
  cursor: pointer;

  &:hover {
    border-color: $primary;
    transition: all 0.3s;

    .user-icon {
      border-color: $primary;

      svg {
        fill: $primary;
      }
    }
  }

  .user-icon {
    width: 32px;
    height: 32px;
    border: 1px solid #0A0B0C;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;

    svg {
      fill: #0A0B0C;
    }
  }
}

.beneficiary-card.active-card {
  border: 2px solid #136AF3;

  .user-icon {
    border-color: $primary;

    svg {
      fill: $primary;
    }
  }
}

.select-asset {
  max-width: 60%;

  .asset-icon--small {
    width: 26px;
    height: 26px;
  }
}

.token-modal--footer-btn {
  width: 100%;
}