.ant-tabs-nav {
  margin-bottom: 0 !important;

  .ant-tabs-nav-wrap {
    background-color: transparent;
    padding-bottom: 20px;

    .ant-tabs-tab {
      height: 46px;
      padding: 11px 20px 11px 24px;
      box-sizing: border-box;
    }

    .ant-tabs-tab-active {
      background-color: #F6F7FB;
      border-radius: 8px;

      .ant-tabs-tab-btn {
        color: #0A0B0C !important;
      }
    }

    .ant-tabs-tab-btn {
      color: #979BAA !important;
      font-weight: 700;
      text-transform: uppercase;
      font-size: 1.125rem;
    }

    .ant-tabs-ink-bar {
      background-color: transparent;
    }
  }

  .ant-tabs-extra-content {
    padding-bottom: 20px;
  }
}

.ant-tabs-content-holder {
  background-color: transparent;
  border-radius: 4px;
  padding-top: 24px;
  border-top: 1px solid #DCE0EA;
}