@import 'src/assets/scss/_colors.scss';

.ant-radio-wrapper {
  width: fit-content;

  .ant-radio-inner {
    background-color: white !important;
    border-color: $neutral4 !important;

    &::after {
      background-color: $primary !important;
      transform: scale(0.6) !important;
    }
  }

  .ant-radio-checked {
    .ant-radio-inner {
      border-color: $primary !important;
    }
  }
}