// ========= will filter =========
.will-filter--container {
  width: 25%;
  background-color: #F6F7FB;
  padding: 20px;
  border-radius: 10px;
  height: min-content;
  max-width: 312px;
}

// ========= will list =========
.app-will--list {
  width: 100%;
}

.drawer-select {
  .ant-drawer-header {
    border-bottom: unset;
    box-shadow: none;
    padding: 8px 16px;
  }

  .ant-drawer-body {
    padding: 0px 16px;
  }
}