// ========= will filter =========
.will-filter--container {
  width: 30%;
  background-color: #F6F7FB;
  padding: 20px;
  border-radius: 10px;
}

// ========= will list =========
.app-will--list {
  width: 65%;
  padding: 20px;
}