.beneficiary-name {
  min-width: 30%;
}

.beneficiary-address {
  width: 60%;
}

.beneficiaries-wrapper {
  width: 100%;
}

.beneficiaries-wrapper--generate {
  width: 50%;
}

.generate {
  min-width: 100%;
}

.generate-QR {
  width: 30%;
}

.select-signature {
  max-width: 30%;
}

.asset-distribution-table {
  width: 60%;
}

.update-asset {
  width: 100%;

  .select-asset {
    width: 100%;
  }
}

.update-config {
  .card-item {
    border: 1px solid #DCE0EA;
    border-radius: 12px;
    box-shadow: none;
  }
}