@import 'src/assets/scss/_colors.scss';
@import "@/assets/scss/responsive.scss";

.beneficiary-name {
  min-width: 30%;

  @media (max-width: $tablet-width) {
    min-width: 100%;
  }
}

.beneficiary-address {
  min-width: 60%;

  @media (max-width: $tablet-width) {
    min-width: 100%;
  }
}

.beneficiaries-wrapper {
  width: 100%;
}

.beneficiaries-wrapper--generate {
  width: 50%;

  @media (max-width: $tablet-width) {
    width: 100%;
  }
}

.generate {
  min-width: 100%;
}

.generate-QR {
  width: 30%;

  @media (max-width: $tablet-width) {
    width: 100%;
  }
}

.select-signature {
  max-width: 30%;

  @media (max-width: $tablet-width) {
    max-width: 100%;
  }
}

.select-signature-dropdown {
  max-height: 105px;
  overflow-y: auto;
}

.asset-distribution-table {
  width: 70%;

  @media (max-width: $tablet-width) {
    width: 100%;
  }
}

.update-asset {
  width: 100%;

  .select-asset {
    width: 100%;
  }
}

.update-config {
  .card-item {
    border: 1px solid #DCE0EA;
    border-radius: 12px;
    box-shadow: none;
  }
}

.main-qr-code {
  width: fit-content;
  padding: 11px 12px 11px 12px;
  gap: 2px;
  border-radius: 8px;
  border: 1px solid $neutral5;
  opacity: 0px;

}

.btn-download-qr-code {
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  text-align: center;
  color: #136AF3;
  cursor: pointer;
}

.add-more {
  width: fit-content;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  color: #979BAA;
  margin-bottom: 10px;
  gap: 8px;
  margin-top: 4px;
  cursor: pointer;
}

.list-beneficiary--card {
  max-width: calc(100vw - 10vw - 40vw); // 10vw is padding, 10vw is app-page padding, 40vw is app-config-container padding
  padding-bottom: 2px;
  overflow-x: scroll;

  @media (max-width: $tablet-width) {
    max-width: calc(100vw - 32px - 32px);
  }
}

.beneficiary-table--name {
  svg {
    width: 32px;
    height: 32px;
  }

  img {
    width: 32px !important;
    height: 32px !important;
    border-radius: 50%;
  }
}