.metamask-unavailable {
    .icon-error {
        display: flex;
        justify-content: center;
    }

    .title {
        font-size: 24px;
        font-weight: 700;
        line-height: 32px;
        text-align: center;
        color: #212D4C;
    }

    .description {
        padding-top: 4px;
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
        text-align: center;
        color: #6F7688;
    }
}

.btn-disconnected {
    margin-top: 20px;
    padding: 11px 24px 11px 24px;
    gap: 8px;
    border-radius: 8px;
    opacity: 0px;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
    background: #FF463D;

    button:focus {
        outline: auto;
    }
}

:where(.css-dev-only-do-not-override-3rel02).ant-btn-default:not(:disabled):not(.ant-btn-disabled):hover {
    color: inherit;
    background: inherit;
}

.main-link {
    text-align: center;
}

.link-description {
    font-weight: 600 !important;
    padding-top: 4px;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    color: #6F7688;
}

a:hover {
    color: #6F7688;
}