@import "@/assets/scss/responsive.scss";

.app-details-container {
  background-color: #F6F7FB;
  padding: 0vh 20vw;

  @media (max-width: 1400px) {
    padding: 0vh;
  }

  @media (max-width: $tablet-width) {
    padding: 0px;
  }


  @media (max-width: $tablet-width) {
    padding: 0px;
  }

  .back-mobile {
    svg {
      width: 28px;
      height: 28px;
    }
  }

  .text-description {
    @media (max-width: $tablet-width) {
      font-size: 14px;
    }
  }

  .details-container--footer {
    svg {
      width: 24px !important;
      height: 24px !important;
    }
  }
}

.app-config-container {

  @media (min-width: $XXS) {
    padding: 0
  }

  @media (min-width: $SM) {
    padding: 0vh 4vw;
  }

  @media (min-width: $LG) {
    padding: 0vh 10vw;
  }

  @media (min-width: $XL) {
    padding: 0vh 20vw;
  }

  @media (min-width: $XXL) {
    padding: 0vh 20vw;
  }








}