@import "@/assets/scss/responsive.scss";
@import "@/assets/scss/_colors.scss";

.ant-table-container {
  border: 1px solid #E6E8EC;
  border-radius: 8px;

  @media (max-width: $tablet-width) {
    overflow-x: scroll;
  }

  .ant-table-thead {

    th {
      background-color: #F6F7FB !important;
      border-bottom: none !important;
      text-transform: uppercase;
      color: #6F7688 !important;
      font-weight: 600;

      &:first-child {
        &::before {
          display: none;
        }
      }

      &:last-child {
        text-align: end;
      }

      @media (max-width: $tablet-width) {
        padding: 14px 12px !important;
      }
    }
  }

  .ant-table-tbody {
    tr {
      td {
        border: none !important;

        @media (max-width: $tablet-width) {
          padding: 14px 12px !important;
        }

        &:last-child {
          text-align: end;
        }
      }
    }
  }
}

.have-data.has-icon-action {

  .ant-table-container {
    border: none;
  }

  .ant-table-thead {
    th {
      border: 1px solid #E6E8EC;
      border-left: none;

      &:first-child {
        border-left: 1px solid #E6E8EC;
      }

      &:nth-last-child(2) {
        border-top-right-radius: 8px;
        text-align: end;
      }

      &:last-child {
        background-color: transparent !important;
        border-top: none;
        border-right: none;
        width: 5vw !important;
      }
    }
  }

  .ant-table-tbody {
    tr {
      td {
        &:first-child {
          border-left: 1px solid #E6E8EC !important;
        }

        &:nth-last-child(2) {
          border-right: 1px solid #E6E8EC !important;
          text-align: end;
        }

        &:last-child {
          max-width: 5vw !important;
          min-width: 0vw;

          @media (max-width: $tablet-width) {
            padding: 0px !important;
          }
        }
      }

      .ant-table-cell-row-hover {
        background-color: transparent !important;
      }

      &:last-child {
        td {
          &:first-child {
            border-bottom-left-radius: 8px;
            border-bottom: 1px solid #E6E8EC !important;
          }

          &:nth-last-child(2) {
            border-bottom-right-radius: 8px;
            border-bottom: 1px solid #E6E8EC !important;
          }
        }
      }
    }
  }
}

// }