@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

#root {
  // max-width: 1280px;
  // margin: 0 auto;
  // padding: 2rem;
  // text-align: center;

}

* {
  font-family: "Exo 2";
  // min-height: 100vh
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.none-styles {
  background-color: transparent;
  padding: 0;
  border: none;
  width: fit-content;
  box-shadow: none;
}

// ========app-text=======
.font-medium {
  font-weight: 500 !important;
}

.font-semibold {
  font-weight: 600 !important;
}

.font-bold {
  font-weight: 700 !important;
}

.uppercase {
  text-transform: uppercase;
}

.lowercase {
  text-transform: lowercase;
}

.capitalize {
  text-transform: capitalize;
}

// ========app-text=======

.wrapper-toast {
  position: relative;
  background: #eef4ff;
  box-sizing: border-box;
  align-items: flex-start;
  overflow: hidden;
  padding: 16px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  gap: 8px;
  z-index: 1060;
  margin-bottom: 8px;
}

@media only screen and (max-width: 576px) {
  .wrapper-toast {
    margin-bottom: 8px;
  }
}

.wrapper-toast .body-toast {
  padding: 0;
  display: flex;
  align-items: center;
  font-size: 0.75rem;
  gap: 8px;
}

.wrapper-toast .toast-icon {
  width: 22px;
  height: 22px;
  margin-left: 5px;
}

.wrapper-toast .toast-error-icon {
  filter: '';
}

.wrapper-toast .toast-success-icon {
  filter: '';
}

.wrapper-toast .toast-warning-icon {
  filter: '';
}

.wrapper-toast .toast-close-icon {
  width: 16px;
  height: 16px;
  color: #fff;
}

.wrapper-toast .Toastify__progress-bar {
  position: absolute;
  bottom: 0;
  border-radius: 0px 10px 10px 0px;
}

.wrapper-error-toast {
  background: #FFE8E7;
  border: thin dashed #FF463D;
}

.wrapper-error-toast .toast-body__top {
  color: #0A0B0C;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
}

.wrapper-success-toast {
  background: #EEF7E1;
  border: thin dashed #7ABF1A
}

.wrapper-success-toast .toast-body__top {
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
  color: #0A0B0C;
}

.wrapper-dark-toast {
  background: #22263b;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.3);
}

.wrapper-dark-toast .toast-body__top {
  color: #fff;
}

.wrapper-warning-toast {
  background: #fffaeb;
}

.wrapper-info-toast {
  border-radius: 8px;
  background: #22263b;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.3);
}

.wrapper-info-toast .body-toast {
  align-items: start;
}

.wrapper-info-toast .body-toast .Toastify__toast-icon {
  margin: 0;
}

.wrapper-info-toast .Toastify__progress-bar--info {
  background: #414459;
}


.ant-modal-mask {
  z-index: inherit !important;
}

.ant-modal-wrap {
  z-index: inherit !important;

}

// scroll
::-webkit-scrollbar {
  background-color: #F6F7FB;
  height: 5px;
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: #DCE0EA;
  border-radius: 8px;
}

:where(.css-dev-only-do-not-override-3rel02).ant-modal .ant-modal-close:hover {
  border-radius: 50%;
}