.will-type-card {
  cursor: pointer;

  &:hover {
    border-color: transparent;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);

    svg {
      path {
        fill: #3BBFCF
      }
    }
  }
}

.will-type-card.selected {
  border-color: #3BBFCF;

  svg {
    path {
      fill: #3BBFCF
    }
  }
}